h4 {
  & ~ span {
    position: relative;
    width: fit-content;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 105%;
      width: 0%;
      height: 2px;
      background-color: #fff;
      transition: all 0.2s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.animation-button {
  @apply after:absolute after:content-[''] after:top-0 after:left-0 after:h-[167px] after:w-full after:transform after:scale-100 after:translate-y-[67px] after:bg-white after:rounded-[50%] after:duration-1000 after:ease-wavy after:z-0 hover:after:transform hover:after:scale-[1.47] hover:after:translate-y-0;
}
