<a class="flex flex-row gap-3 px-6 mx-2 pt-3 rounded-[10px] {{isActive ? 'bg-cgreen-200':'bg-transparent hover:bg-cgrey-50'}}"
    [routerLink]="chatId" (click)="onActiveConversation()">
    <div
        class="flex-none rounded-[50%] border-[2px] overflow-hidden w-fit h-fit {{isOnline ? 'border-cgreen-500':'border-cgrey-50'}}">
        <img src="./assets/images/public/avatars/2.png" alt="avatar"
            class="w-[50px] h-[50px] border-[3px] border-white">
    </div>
    <div
        class="flex-grow flex flex-col justify-between  pb-3 border-b border-b-cgrey-50 select-none {{isReaded ? 'text-cgrey-600':'text-cblack-500'}}">
        <div class="flex flex-row justify-between items-center tracking-tighter">
            <span class="text-lg font-semibold">{{name}}</span>
            <span *ngIf="date" class="text-sm font-semibold">{{date|date:'h:mm aaaaa\'m\''}}</span>
        </div>
        <div class="flex flex-row justify-between items-center tracking-tighter">
            <span class="text-base font-medium line-clamp-1">{{isMine ? 'You: ':''}}{{latestMessage}}</span>
            @if (!isReaded) {
            <span class="text-white text-base font-medium px-[6px] py-[1px] rounded-[10px] bg-cgreen-500 h-fit">2</span>
            }

        </div>
    </div>
</a>
