<main class="mt-20 p-8 bg-cyellow-400 flex flex-col">
    <section class="relative rounded-[32px] overflow-hidden">
        <picture>
            <source media="(min-width: 768px) and (max-width: 1023px)"
                srcset="./assets/images/landing-page/banner/hugging-768.png">
            <source media="(min-width:1024px)" srcset="./assets/images/landing-page/banner/hugging.png">
            <img src="./assets/images/landing-page/banner/hugging.png" alt="hugging"
                class="w-full object-cover h-[768px] bmd:h-[931px] object-top xl:h-full">
        </picture>
        <div
            class="absolute top-20 w-full h-full pl-[60px] pr-5 xl:px-[100px] max-w-[1080px] xl:max-w-full flex lmd:flex-row flex-col gap-[100px] lmd:gap-4">
            <div class="mt-20 order-2 sm:w-1/2 lmd:basis-1/3 flex flex-col gap-8">
                <h1
                    class="text-[44px] sm:text-[50px] md:text-[60px] lmd:text-[70px] xl:text-[80px] text-white -tracking-[0.04rem] font-semibold lmd:leading-[80px] animation-delay-1 md:animate-none">
                    Message Privately
                </h1>
                <span
                    class="lmd:text-lg xl:text-[20px] text-white font-medium animation-delay-2 md:animate-none">Simple,
                    reliable, private messaging and
                    calling for
                    free*, available all over the world.</span>
            </div>
            <div class="lmd:h-full order-1 lmd:order-2 flex flex-col lmd:flex-grow">
                <div class="relative left-[-180px] sm:left-[-160px] md:left-[-120px] bmd:left-[-60px] lg:left-0 h-full">
                    <span class="absolute top-[0%] left-[40%] image-animation">
                        <img src="./assets/images/landing-page/banner/good-morning.png" alt="good-morning"
                            class="w-[398px] h-[44px] max-w-[398px]">
                    </span>
                    <span class="absolute top-[20px] left-[38%] image-animation">
                        <img src="./assets/images/landing-page/banner/heart.png" alt="heart"
                            class="w-[398px] h-[44px] max-w-[398px]">
                    </span>
                    <span class="absolute top-[60px] left-[40%] image-animation">
                        <img src="./assets/images/landing-page/banner/love-cup.png" alt="love-cup"
                            class="w-[384px] h-[99px] max-w-[384px]">
                    </span>
                    <span class="hidden lmd:inline-block absolute top-[180px] left-[40%] image-animation">
                        <img src="./assets/images/landing-page/banner/audio.png" alt="audio"
                            class="w-[384px] h-[54px] max-w-[384px]">
                    </span>
                    <span class="hidden lmd:inline-block absolute top-[240px] left-[40%] image-animation">
                        <img src="./assets/images/landing-page/banner/missing.png" alt="missing"
                            class="w-[384px] h-[232px max-w-[384px]">
                    </span>
                    <span class="hidden lmd:inline-block absolute top-[440px] left-[37%] image-animation">
                        <img src="./assets/images/landing-page/banner/boring.png" alt="boring"
                            class="w-[404px] h-[44px] max-w-[404px]">
                    </span>
                    <span class="hidden lmd:inline-block absolute top-[470px] left-[40%] image-animation">
                        <img src="./assets/images/landing-page/banner/looking-forward.png" alt="looking-forward"
                            class="w-[384px] h-[51px] max-w-[384px]">
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20">
        <div class="un-active" appScroll>
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/images/landing-page/avatars/mul-avatars-564.png">
                <source media="(min-width: 768px) and (max-width: 1023px)"
                    srcset="./assets/images/landing-page/avatars/mul-avatars-768.png">
                <source media="(min-width:1024px)" srcset="./assets/images/landing-page/avatars/mul-avatars.png">
                <img src="./assets/images/landing-page/avatars/mul-avatars.png" alt="mul-avatars">
            </picture>
        </div>
    </section>
    <section>
        <div
            class="w-full flex flex-row justify-center min-h-[300px] max-h-[348px] md:px-[60px] lmd:px-[100px] bmd:px-[160px] lg:px-[200px]">
            <h2 class="text-[40px] md:text-[44px] bmd:text-[48px] text-cblack-500 font-normal leading-[40px] bmd:leading-[44px] md:leading-[48px] text-center un-active"
                appScroll>
                With private messaging and calling, you can be yourself,
                chat freely, and connect with the people who matter most, no matter where they are.
            </h2>
        </div>
    </section>
    <section class="py-20">
        <div class="un-active" appScroll>
            <picture>
                <source media="(max-width: 767px)" srcset="./assets/images/landing-page/avatars/mul-avatars-2-564.png">
                <source media="(min-width: 768px) and (max-width: 1023px)"
                    srcset="./assets/images/landing-page/avatars/mul-avatars-2-768.png">
                <source media="(min-width:1024px)" srcset="./assets/images/landing-page/avatars/mul-avatars-2.png">
                <img src="./assets/images/landing-page/avatars/mul-avatars-2.png" alt="mul-avatars">
            </picture>
        </div>
    </section>
    <section class="px-10 flex flex-col bmd:flex-row gap-20">
        <div class="pt-[60px] bmd:pt-[120px] bmd:w-[40%] flex flex-col gap-8 text-cblack-500">
            <h2 class="text-[36px] sm:text-[40px] md:text-[44px] lmd:text-[50px] bmd:text-[54px] lg:text-[60px] text-cblack-500 font-normal leading-[36px] sm:leading-[40px] md:leading-[44px] lmd:leading-[50px] bmd:leading-[54px] lg:leading-[60px] -tracking-[0.08rem] delay-[0.3s] un-active"
                appScroll>
                Never miss a moment with voice and video calls
            </h2>
            <span class="text-lg md:text-xl flex flex-row font-normal delay-[0.6s] un-active seq-active">
                From a group call with classmates to a quick call to your mom, enjoy a voice and video calling
                experience that feels like a face-to-face conversation.
            </span>
            <span
                class="relative w-fit flex flex-row items-center text-xl font-medium select-none cursor-pointer delay-[0.9s] un-active seq-active hover:text-primary hover:delay-0 after:absolute after:top-[110%] after:left-0 after:w-0 hover:after:w-full after:transition-all after:duration-[0.4s] after:h-[2px] after:bg-primary">
                Find out more
                <span class="material-symbols-outlined pt-1">
                    chevron_right
                </span>
            </span>
        </div>
        <div class="md:flex-grow flex flex-row justify-center un-active" appScroll>
            <img src="./assets/images/landing-page/banner/phone-call.png" alt="phone-call"
                class="w-3/5 h-3/5 md:w-fit md:h-fit object-cover">
        </div>
    </section>
    <section class="mx-[-32px] px-6 py-20 flex flex-col lmd:flex-row gap-20 bg-cblack-400">
        <div class="order-1 bmd:order-2 pt-[60px] lmd:pt-[120px] lmd:w-[40%] flex flex-col gap-8 text-white">
            <h2 class="text-[36px] sm:text-[40px] md:text-[44px] lmd:text-[50px] bmd:text-[54px] lg:text-[60px] font-medium leading-[36px] sm:leading-[40px] md:leading-[44px] lmd:leading-[50px] bmd:leading-[54px] lg:leading-[60px] -tracking-[0.08rem] delay-[0.3s] un-active"
                appScroll>
                <strong class="text-primary font-medium">Enjoy</strong> chatting
            </h2>
            <span class="text-base sm:text-lg md:text-xl flex flex-row font-normal delay-[0.6s] un-active seq-active">
                End-to-end encryption keeps your private messages and calls secure. Only you and the person you're
                chatting with can read or listen to messages and calls. No one, not even WhatsApp, can do this.
            </span>
            <span
                class="relative w-fit flex flex-row items-center text-xl font-medium select-none cursor-pointer delay-[0.9s] un-active seq-active hover:text-primary hover:delay-0 after:absolute after:top-[110%] after:left-0 after:w-0 hover:after:w-full after:transition-all after:duration-[0.4s] after:h-[2px] after:bg-primary">
                Find out more
                <span class="material-symbols-outlined pt-1">
                    chevron_right
                </span>
            </span>
        </div>
        <div class="order-2 bmd:order-1 flex-grow flex flex-row justify-center un-active" appScroll>
            <img src="./assets/images/landing-page/banner/crypted-msg.png" alt="crypted-msg"
                class="w-3/5 h-3/5 lmd:w-fit lmd:h-fit object-cover">
        </div>
    </section>
    <section class="px-10 py-20 flex flex-col lmd:flex-row gap-20">
        <div class="lmd:pt-[120px] lmd:w-[40%] flex flex-col gap-8 text-cblack-500">
            <h2 class="text-[36px] sm:text-[40px] md:text-[44px] lmd:text-[50px] bmd:text-[54px] lg:text-[60px] text-cblack-500 font-normal leading-[36px] sm:leading-[40px] md:leading-[44px] lmd:leading-[50px] bmd:leading-[54px] lg:leading-[60px] -tracking-[0.08rem] delay-[0.3s] un-active"
                appScroll>
                Keep in touch
                with the group
            </h2>
            <span class="text-base sm:text-lg lmd:text-xl font-normal delay-[0.6s] un-active seq-active">
                Whether you're planning an outing with friends or simply chatting with your family to catch up on
                information, you can do it easily through a group chat.
            </span>
            <span
                class="relative w-fit flex flex-row items-center text-xl font-medium select-none cursor-pointer delay-[0.9s] un-active seq-active hover:text-primary hover:delay-0 after:absolute after:top-[110%] after:left-0 after:w-0 hover:after:w-full after:transition-all after:duration-[0.4s] after:h-[2px] after:bg-primary">
                Find out more
                <span class="material-symbols-outlined pt-1">
                    chevron_right
                </span>
            </span>
        </div>
        <div class="flex-grow flex flex-row justify-center un-active" appScroll>
            <img src="./assets/images/landing-page/banner/contacts.png" alt="contacts"
                class="w-3/5 h-3/5 lmd:w-fit lmd:h-fit object-cover">
        </div>
    </section>
    <section class="px-10 py-20 flex flex-col md:flex-row gap-20">
        <div class="order-1 md:order-2 md:pt-[120px] md:w-[40%] flex flex-col gap-8 text-cblack-500">
            <h2 class="text-[36px] sm:text-[40px] md:text-[44px] lmd:text-[50px] bmd:text-[54px] lg:text-[60px] text-cblack-500 font-normal leading-[36px] sm:leading-[40px] md:leading-[44px] lmd:leading-[50px] bmd:leading-[54px] lg:leading-[60px] -tracking-[0.08rem] delay-[0.3s] un-active"
                appScroll>
                Express
                emotions
            </h2>
            <span class="text-base sm:text-lg lmd:text-xl font-normal delay-[0.6s] un-active seq-active">
                Express yourself without speaking. Use stickers, GIFs, or share everyday moments in your Status.
                Additionally, you can record a voice message to quickly say hello or tell a longer story.
            </span>
            <span
                class="relative w-fit flex flex-row items-center text-xl font-medium select-none cursor-pointer delay-[0.9s] un-active seq-active hover:text-primary hover:delay-0 after:absolute after:top-[110%] after:left-0 after:w-0 hover:after:w-full after:transition-all after:duration-[0.4s] after:h-[2px] after:bg-primary">
                Find out more
                <span class="material-symbols-outlined pt-1">
                    chevron_right
                </span>
            </span>
        </div>
        <div class="order-2 md:order-1 flex-grow flex flex-row justify-center un-active" appScroll>
            <img src="./assets/images/landing-page/banner/smiling.png"
                class="relative /5 h-3/5 lmd:w-fit lmd:h-fit object-cover" alt="contacts">
            <div class="absolute top-1/3 left-[25%] w-fit h-fit un-active seq-active delay-300">
                <img src="./assets/images/landing-page/banner/beauty.png" alt="contacts"
                    class="w-[326px] h-[281px] object-contain">
            </div>
        </div>
    </section>
</main>