<header class="fixed h-20 w-full bg-cyellow-400 flex items-center" #header>
    <div class="w-full px-10 flex flex-row justify-between items-center">
        <a href="http://localhost:4200/">
            <img src="./assets/images/landing-page/logo.png" class="w-[130px] h-[30px]" alt="chit-chat">
        </a>
        <nav>
            <ul class="flex flex-row gap-12">
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Feature</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Privacy</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Help Center</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Blog</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Businesses</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Download</li>
                <li class="text-cblack-500 cursor-pointer font-normal text-lg">Login</li>
            </ul>
        </nav>
        <button type="button"
            class="bg-primary rounded-[50px] border border-solid border-cblack-500 text-center py-2 px-2">
            <span class="text-xl text-black font-medium">Sign up for free</span>
        </button>
    </div>
</header>