<div class="px-5 py-[10px] bg-cgrey-50">
    <div class="flex flex-row items-center justify-between">
        <div class="w-[54px] h-[54px] border-[2px] border-white rounded-[50%] overflow-hidden">
            <img src="./assets/images/public/avatars/1.png" alt="avatar" class="w-[50px] h-[50px] object-cover">
        </div>
        <div class="flex flex-row items-center gap-8 text-cblack-200 select-none">
            <span class="material-symbols-outlined fill text-[28px] hover:opacity-70 hover:cursor-pointer">
                groups
            </span>
            <span class="material-symbols-outlined fill text-[28px] hover:opacity-70 hover:cursor-pointer">
                chat
            </span>
            <span class="material-symbols-outlined text-[28px] hover:opacity-70 hover:cursor-pointer">
                more_vert
            </span>
        </div>
    </div>
</div>
<div class="px-6 pt-6 pb-3 flex flex-row items-center gap-8 border-b border-b-cgrey-50 ">
    <div class="h-[50px] flex-grow rounded-[10px] px-6 bg-cgrey-50  flex flex-row items-center gap-6">
        <span class="material-symbols-rounded filter text-[28px] text-cgrey-600 select-none cursor-pointer">
            search
        </span>
        <input class="text-base text-cgrey-600 font-medium bg-transparent outline-none flex-grow"
            placeholder="Search or start new chat">
    </div>
    <span class="material-symbols-rounded filter text-[28px] text-cblack-200">
        filter_list
    </span>
</div>
