<div class="pt-3 pb-4 flex flex-col gap-3" *ngIf="previewChats$ | async as previewChats">
    @for (previewChat of previewChats; track $index) {
    <app-preview-chat [isReaded]="previewChat.isReaded" [date]="previewChat.latestMsg?.date"
        [latestMessage]="previewChat.latestMsg?.content||''" [chatId]="previewChat._id" [name]="previewChat.name"
        [isActive]="previewChat._id === activeChat" [isMine]="previewChat.callerId !== previewChat.latestMsg?.senderId"
        [isOnline]="onlineUser.includes(previewChat.callerId)" [callerId]="previewChat.callerId"
        (activeChatEmiter)="onActiveConversation($event)">
    </app-preview-chat>
    }
</div>
